.page {
  width: min(90%, 48rem);
  margin: 5rem auto;
}

.title {
  margin: 0 0 2rem 0.5rem;
  color: var(--color-primary);
  font-size: 1.875rem;
  font-weight: 700;
  text-shadow: 1px 1px 3px var(--color-muted);
}
